.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  align-items: flex-start;
  width: 100%;
}

.form-row {
  width: 100%;
}

.col-full,
.col-half {
  width: 100%;
}

.entry-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 80rem;
  }

  .row {
    row-gap: 1rem;
  }

  .col-full,
  .col-half {
    padding: 0 0.75rem;
  }

  .col-half {
    width: 50%;
  }

  .entry-col {
    width: 50%;
    padding: 0 0.75rem;
  }
}
