:root {
  --black: rgb(10, 10, 13);
  --light-purple: rgb(192, 202, 245);
  --light-purple-50: rgba(192, 202, 245, 0.5);
  --teal: rgb(89, 253, 198);
  --teal-30: rgba(89, 253, 198, 0.3);
  --dark-blue: rgb(54, 59, 84);
  --dark-blue-50: rgba(54, 59, 84, 0.5);
  --light-blue: rgb(134, 216, 250);
  --light-blue-50: rgba(134, 216, 250, 0.5);
}

body {
  font-family: Satoshi-Regular, sans-serif;
  background-color: black;
  color: var(--light-purple);
}

h1,
h2 {
  font-family: ClashDisplay-Regular, sans-serif;
  font-weight: 400;
}

a {
  cursor: pointer;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 1rem;
  width: 100%;
  margin-bottom: 4rem;
}

.button {
  color: var(--light-purple-50);
  background-color: transparent;
  border: 1px solid var(--teal);
  border-radius: 10rem;
  font-family: Satoshi-Regular, sans-serif;
  font-size: 1rem;
  padding: 0.25rem 1.25rem;
  cursor: pointer;
}

.button.text {
  border: none;
  padding: 0;
  transition: color 300ms;
}

.button.text:hover {
  color: var(--teal);
}

.logo {
  font-size: 1.3rem;
  font-family: ClashDisplay-Regular, sans-serif;
  cursor: pointer;
}

.search-input {
  background-color: var(--dark-blue-50);
  outline: 1px solid var(--teal-30);
  border: none;
  border-radius: 10rem;
  padding: 0.5rem 1rem;
  font-family: Satoshi-Regular, sans-serif;
  font-size: 1rem;
  color: var(--light-purple);
  width: 100%;
}

.search::placeholder {
  color: var(--light-purple-50);
}

.search:focus {
  outline: 1px solid var(--teal);
}

.cover-img-wrap {
  margin-bottom: 1rem;
}

.cover-img-wrap.search {
  margin-bottom: 1rem;
  height: 30rem;
}

.cover-img {
  width: 100%;
  border-radius: 0.5rem;
  height: 30rem;
  object-fit: cover;
  outline: solid 3px transparent;
  transition: outline 150ms ease;
}

.cover-img:hover {
  outline: solid 4px var(--teal);
}

[data-item="game"] {
  cursor: pointer;
}

[type="search"]::-webkit-search-cancel-button {
  appearance: none;
  height: 0.75rem;
  width: 0.75rem;
  background-image: url("../images/search-clear.svg");
  background-size: 0.75rem 0.75rem;
  cursor: pointer;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-group {
  display: flex;
  column-gap: 1rem;
}

.flex-group-vert {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
