:root {
  --black: rgb(10, 10, 13);
  --light-purple: rgb(192, 202, 245);
  --light-purple-50: rgba(192, 202, 245, 0.5);
  --teal: rgb(89, 253, 198);
  --teal-30: rgba(89, 253, 198, 0.3);
  --teal-50: rgba(89, 253, 198, 0.5);
  --dark-blue: rgb(54, 59, 84);
  --dark-blue-50: rgba(54, 59, 84, 0.5);
  --light-blue: rgb(134, 216, 250);
  --light-blue-50: rgba(134, 216, 250, 0.5);
}

::selection {
  background: var(--teal);
  color: var(--black);
}

body {
  font-family: Satoshi-Regular, sans-serif;
  background-color: black;
  color: var(--light-purple);
}

h1 {
  font-family: ClashDisplay-Regular, sans-serif;
  font-weight: 400;
}

h2 {
  font-family: ClashDisplay-Regular, sans-serif;
  font-weight: 400;
}

h3 {
  font-family: ClashDisplay-Semibold, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

a {
  cursor: pointer;
}

#search {
  width: 100%;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 1rem;
  width: 100%;
  margin-bottom: 4rem;
}

.button {
  color: var(--light-purple);
  background-color: transparent;
  border: 1px solid var(--teal);
  border-radius: 10rem;
  font-family: Satoshi-Regular, sans-serif;
  font-size: 1rem;
  padding: 0.25rem 1.25rem;
  cursor: pointer;
  transition: color 200ms ease, background-color 200ms ease;
}

.button:hover {
  background-color: var(--teal);
  color: var(--black);
}

.button.active {
  background-color: var(--teal);
  color: var(--black);
}

.button.text {
  color: var(--light-purple-50);
  border: none;
  padding: 0;
  transition: color 300ms;
}

.button.text.alternate {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  color: var(--teal-50);
}

.button.text.alternate:hover {
  color: var(--teal);
}

.button.text:hover {
  color: var(--teal);
  background-color: transparent;
}

.rate-button {
  color: var(--teal);
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid var(--teal);
  cursor: pointer;
  transition: color 300ms ease, background-color 300ms ease;
}

.rate-button.active {
  background-color: var(--teal);
  color: var(--black);
}

.rate-button.left {
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
  padding: 0.5rem 0.75rem 0.25rem 1rem;
}

.rate-button.right {
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
  padding: 0.5rem 1rem 0.25rem 0.75rem;
  margin-left: -5px;
}

.rate-button:hover {
  background-color: var(--teal);
  color: var(--black);
}

.star {
  font-size: 1.25rem;
  color: var(--black);
  -webkit-text-stroke: 1px var(--light-purple);
  transition: color 200ms ease;
  margin-top: 0.25rem;
}

.star:hover {
  color: var(--teal);
  -webkit-text-stroke: 1px var(--teal);
}

.star.active {
  color: var(--teal);
  -webkit-text-stroke: 1px var(--teal);
}

/* navigation */
.logo {
  font-size: 1.3rem;
  font-family: ClashDisplay-Regular, sans-serif;
  cursor: pointer;
}

.search-input {
  background-color: var(--dark-blue-50);
  outline: 1px solid var(--teal-30);
  border: none;
  border-radius: 10rem;
  padding: 0.5rem 1rem;
  font-family: Satoshi-Regular, sans-serif;
  font-size: 1rem;
  color: var(--light-purple);
  width: 100%;
}

.search-input::placeholder {
  color: var(--light-purple-50);
}

.search-input:focus {
  outline: 1px solid var(--teal);
}

[type="search"]::-webkit-search-cancel-button {
  appearance: none;
  height: 0.75rem;
  width: 0.75rem;
  background-image: url("../images/search-clear.svg");
  background-size: 0.75rem 0.75rem;
  cursor: pointer;
}

/* Images */
.cover-img-wrap {
  position: relative;
  padding-top: 150%;
}

.cover-img-wrap.search {
  margin-bottom: 1rem;
}

.cover-img {
  border-radius: 0.5rem;
  object-fit: cover;
  outline: solid 3px transparent;
  transition: outline 150ms ease;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.cover-img:hover {
  outline: solid 4px var(--teal);
}

.info-main-img-wrap {
  width: 100%;
  position: relative;
}

.glow-img {
  position: absolute;
  top: 0;
  margin: 0 auto;
  filter: blur(1.75rem);
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

.info-main-img {
  position: relative;
  z-index: 1;
  width: 100%;
}

/* Utility classes */
.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-group {
  display: flex;
  column-gap: 1rem;
}

.flex-group-vert {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.text-align-center {
  text-align: center;
}

.height-70vh {
  height: 70vh;
}

.lni-game {
  font-size: 4rem;
  color: var(--teal);
}

i {
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  #search {
    width: 60%;
  }
}
